/* Globals */
/* @import url("https://fonts.googleapis.com/css?family=Roboto:200,400,500,700|Roboto+Slab:400,700"); */
html {
 font-family: sans-serif;
 position: relative;
 min-height: 100%;
} 
body {
 font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 font-weight: 200;
 padding-top: 3.5rem;
 margin-bottom: 24px;
 background-color: #FBFBFB;
 color:#000
}
a{
 color:#82221C;
 text-decoration:none
}
a:hover,a:focus{
 color:#F44336;
 text-decoration:underline
}

/* Buttons */
.btn-primary {
  color: #fff;
  background-color: #82221C;
  border-color: #82221C;
}

.btn-primary:hover {
  color: #fff;
  background-color: #F44336;
  border-color: #74726b;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(81, 117, 154, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(81, 117, 154, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #8C8B94;
  border-color: #8C8B94;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #244463;
  border-color: #213d59;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(81, 117, 154, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(81, 117, 154, 0.5);
}

.btn-secondary {
  color: #fff;
  background-color: #8E8C84;
  border-color: #8E8C84;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #F44336;
  border-color: #74726b;
}

.btn-secondary:focus, .btn-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(159, 157, 150, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(159, 157, 150, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #8E8C84;
  border-color: #8E8C84;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #74726b;
  border-color: #6e6c65;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,.show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(159, 157, 150, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(159, 157, 150, 0.5);
}

.container-jumbo{
 float:left;
 margin-left:100px;
 width:700px;
}

/*Jumbotron extras*/
.jumbotron-magnum {
 background-image: url(../images/jumbo5.png);
 #background-position: 115% 0%;
 background-repeat: no-repeat;
 background-size:2045px 550px;
 background-color: #1D1D1D;
 min-height:550px;
 padding:100px 0;
}

.jumbotron-ISB {
 background-color:#15141C;
 color:#ffffff;
 margin:0px;
}

.magnum-title{
 color:#FBFBFB;
 font-family: 'Racing Sans One', cursive;
 font-size: 6.0rem;
 font-weight: 100;
 line-height: 1.2;
}

hr {
  border-top: 1px solid #82221C;
}

/* Featurettes */
.featurette-wrapper{
 margin-top:120px;
 margin-bottom:120px;
}
.featurette-narrow{
 width:80%;
 margin-right: auto;
 margin-left: auto;
}
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  border-top: 1px solid #82221C;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Mini-Featurettes */
.mini-featurette .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.mini-featurette h2 {
  font-weight: 400;
}
.mini-featurette .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #82221C;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.sidebar-link {
 font-size:0.9rem;
 margin: 0px;
 padding: 0px;
 color:#F8F4F8;
}
.sidebar-link:hover,.sidebar-link:focus {
 color:#CE9747;
 text-decoration:underline;
}
.sidebar-header{
 padding:0px;
 margin:0px;
 margin-top:10px;
 color:#CD9747;
}

/* Source page links*/
.inner {
  width: 620px;
  margin: 0 auto;
}

a.button {
  display: block;
  float: left;
  width: 197px;
  padding: 12px 8px 12px 8px;
  margin-right: 14px;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  color: #303030;
  text-decoration: none;
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  border-top: solid 1px #cbcbcb;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #b7b7b7;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 5px #e8e8e8;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
a.button:hover {
  text-decoration: none;
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
  border-top: solid 1px #b7b7b7;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #b3b3b3;
}

a.button span {
  display: block;
  height: 23px;
  padding-left: 50px;
}

#downloads {
  margin-bottom: 40px;
  margin-top: 30px;
}

#download-zip span {
  background: transparent url(../images/zip-icon.png) 12px 50% no-repeat;
}
#download-tar-gz span {
  background: transparent url(../images/tar-gz-icon.png) 12px 50% no-repeat;
}
#view-on-github span {
  background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat;
}
#view-on-github {
  margin-right: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* Code blocks */
pre{
 display:block;
 padding:9.5px;
 margin:0 0 10px;
 font-size:13px;
 line-height:1.42857143;
 word-break:break-all;
 word-wrap:break-word;
 color:#8e8c84;
 background-color:#f5f5f5;
 border:1px solid #cccccc;
 border-radius:4px
}
	
pre code{
 padding:0;
 font-size:inherit;
 color:inherit;
 white-space:pre-wrap;
 background-color:transparent;
 border-radius:0
}

/* Colors */
.bg-primary {
  background-color: #FBFBFB !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #244463 !important;
}

.bg-dark {
  background-color: #15141C !important;
  color:#F8F4F8 !important;
}

.bg-nav {
 background-color: #82221C !important;	
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #242422 !important;
}

/* Other */
.footer {
 width: 100%;
 height: 24px;
 background-color: #15141C;
 color:#ffffff;
 margin:0px;
}

.padded{
 padding-top: 1rem;
}

.table-magnum{
 color:#fff;
}

.info-horizontal{
 margin-top:80px;
 margin-bottom:80px;

}

.heading {
 margin-top: 6px;
}

.info-p{
 min-height:120px;
}

.info-horizontal .heading {
 margin-left:10px;
 text-align: left;
 font-size:1.3rem;
 font-weight:1000;
 color: #15141C;
}

.icon {
  float: left;
  margin-right: 10px;
}
.info-horizontal .description {
  overflow: hidden;
  text-align: left;
}

.icon.icon-primary {
  color: #82221C;
}

.icon.icon-invert {
  color: #F8F4F8;
}


/* RESPONSIVE CSS */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 5rem;
  }
}

/* ISB colors */
.ISB-midnight {
 background-color:#002664;
 color:#ffffff;
}

.btn.btn-round {
  border-radius: 30px;
}

.card-height{
 min-height:450px;
}

.card-bottom{
 margin-bottom:15px;
}

.card-title {
 color: #82221C;
 font-weight: 700;
 #font-family: "Roboto Slab", "Times New Roman", serif;
 text-decoration: none; 
 text-align:left;
 margin-left:15px;
 padding-top:20px;
}

.card-description{
 color:#15141C;
 text-align:left;
 margin-left:15px;
 margin-top:20px;
 font-size:0.9rem;
 min-height:100px;
}

.card-description-narrow{
 color:#15141C;
 text-align:left;
 padding-left:20px;
 padding-right:20px;
 margin-bottom:40px;
 margin-top:15px;
 font-size:0.9rem;
}

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card .card-height-indicator {
  margin-top: 100%;
}
.card .card-image {
  height: 60%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -50px;
  border-radius: 6px;
}
.card .card-image-left {
 float: left;
 height: 60%;
 position: relative;
 margin-left: -75px;
 margin-bottom: 25px;
 margin-top: 25px;
 border-radius: 6px;
}

.card .card-image-left img {
  width: 320px;
  height: 320px;
  border-radius: 6px;
}

.card .card-image img {
  width: 256px;
  height: 256px;
  border-radius: 6px;
}

.img-under {
  position: absolute;
  margin-right:20px;
}

.img-over {
  position: relative;
  margin-right:20px;
}


.img-under-small {
  position: absolute;
}

.img-over-small {
  position: relative;
}

.card .card-image .card-title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 1.3em;
  text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card .card-title-left {
 color: #82221C;
 font-size:40px;
 font-weight:700;
 padding-top:16px;
}

.card-subtitle{
 color:#82221C;
 font-size:20px;
 font-weight:700;
 margin-top:40px;
 padding-left:30px;
 text-align:left;
}

.card-blog {
  margin-top: 30px;
}
.card-blog .row .category {
  margin-bottom: 0;
}
.card-blog .card-title {
  margin-top: 5px;
}
.card-blog .card-image + .category {
  margin-top: 20px;
}

.card .card-foot{
 bottom:25px;
 left:300px;
}

.card .card-stamp{
 color: #82221C;
 font-size:18px;
 font-weight:500;
 float:right;
 margin-right:50px;
 margin-top:8px;
}

.color-accent{
 background-color:#797393;
 color:#F8F4F8;
}

.color-invert{
 background-color:#15141C;
 color:#F8F4F8;
}

.text-subheading{
 font-size:1.9rem;
 font-weight:500;
 padding-top:20px;
}

.text-news{
 font-size:1rem;
 font-weight:200;
 padding-top:10px;
 height:140px;
}

.text-color{
 color:#15141C;
}

.text-accent{
 color:#CE9747;
}

.text-invert{
 color:#F8F4F8;
}

.text-400{
 font-weight:400;
}

.alert-info{
 background-color:#5C8540;
 color:#F8F4F8;
}

.alert-warning{
 background-color:#DA7508;
 color:#F8F4F8;
}

.alert-warning a{
 font-weight:400;
 color:#82221C;
}

.alert-warning a:hover,a:focus{
 font-weight:400;
 color:#15141C;
 text-decoration:underline
}

.alert-danger{
 background-color:#797393;
 color:#F8F4F8;
}

.alert-danger a{
 font-weight:400;
 color:#82221C;
}

.alert-danger a:hover,a:focus{
 font-weight:400;
 color:#15141C;
 text-decoration:underline
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for sizing the icon. */
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }